/*Taken from: https://www.tutorialspoint.com/jsf/jsf_outputstylesheet_tag.htm */

.employeeTable {
    border-collapse:collapse;
    border:1px solid #000000;
}

.employeeTableHeader {
    text-align:center;
    background:none repeat scroll 0 0 #B5B5B5;
    border-bottom:1px solid #000000;
    padding:2px;
}

.employeeTableOddRow {
    text-align:center;
}

.employeeTableEvenRow {
    text-align:center;
    background:none repeat scroll 0 0 #D3D3D3;
}

/*Taken from: https://www.tutorialspoint.com/jsf/jsf_outputstylesheet_tag.htm */